/* CSS Custom Properties */

:root {
    --hover-color: #404BBF;
    --black-color: #2E2F42;
    --white-color: #FFFFFF;
    --light-pink-color: #F4F4FD;
    --font-medium: 500;
    --font-bold: 700;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
    background: var(--white-color);
}

/* Header */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
}

.color-logo-1 {
    color: var(--black-color);
}

.page-nav > .page-nav-list, .contacts-list {
    list-style: none;
}

.page-nav-list .page-nav-link {
    font-weight: var(--font-medium);
    color: var(--black-color);
    text-decoration: none;
}

.page-nav-list .page-nav-link:hover,
.page-nav-list .page-nav-link:focus {
    color: var(--hover-color);
    text-decoration: underline;
}

.contacts-link {
    color: #434455;
    text-decoration: none;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--hover-color);
}

/* Hero section */

.section-hero {
    background-color: var(--black-color);
}

.hero-title {
    font-weight: var(--font-bold);
    font-size: 56px;
    line-height: 1.07;
    color: var(--white-color);
    text-align: center;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: var(--font-medium);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-color);
}

/* Section 2 Advantages */

.section-second > .list-item-benefits {
    list-style-type: none;
}

.list-title {
    font-weight: var(--font-medium);
    font-size: 20px;
    line-height: 1.2;
    color: var(--black-color);
}

/* Section 3 What are we doing*/

.section-title {
    font-weight: var(--font-bold);
    font-size: 36px;
    line-height: 1.11;
    color: var(--black-color);
    text-align: center;
}

.section-three > .list-item-three {
    list-style-type: none;
}

/* Section 4 Our team*/

.section-four {
    background-color: var(--light-pink-color);
    text-align: center;
}

.section-four .list-item-four {
    list-style-type: none;
}

/* Footer */

.footer {
    background-color: var(--black-color);
}

.color-logo-2 {
    color: var(--light-pink-color);
}

.footer-text {
    color: var(--light-pink-color);
}

/* Portfolio - Main section Our project */

.portfolio-section .list-item-button, .list-item-projects {
    list-style-type: none;
}

.filter-button {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-pink-color);
    border: 1px solid #E7E9FC;
    font-weight: var(--font-medium);
    letter-spacing: 0.004em;
    text-align: center;
    color: #4D5AE5;
}

.filter-button:hover, 
.filter-button:focus {
    background-color: var(--hover-color);
    color: var(--white-color);
}